* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
  }

.perfil
  {
    display: flex;
    justify-content: center;
    
  }

.perfil img
  {
    height: 200px;
    width:200px;
    border-radius:100%;
    border:4px solid rgba(120, 245, 120, 0.896);
  }

.titulo {
    text-align: center; 
    padding-bottom:100px;
  }

.titulo h1
  {
 display: inline-block; /* Permite centralizar o texto com margens automáticas */
 vertical-align: middle;
 font-size: 74px;
 text-align: center;
 color:#fff;
 text-shadow: 3px 6px 1px #000000;   
  }
  
  
.titulo img
{
vertical-align: middle; /* Alinha a imagem verticalmente ao centro */
margin-right: 10px;

margin-left: 10px;
width: 20px;
height:20px; 
}

.secao-banner
{
 background-image: url("assets/rx10m4_20190529-_R107789_to-raro.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 100vh;
}

.top-links
{
 display:flex;
 justify-content: space-around;
 text-align: center;
 padding: 0 20%;  
 flex: 1 1 auto; 
}

.top-links img
{
    
 width: 100px;
 height:100px;
 opacity: 0.8;

}

.top-links a
{
 text-decoration: none;
 color: #fff;
}

.top-links figcaption a:hover
{
 opacity: 0.7;
    
}

figcaption
{
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 background: rgb(0 0 0 / 50%);
 font-size: 27px;
 color: #fff;
 padding: 5px 10px;
 box-sizing: border-box;
 border-radius: 14px;
}

/*secao sobre*/
.secao-container 
{
 display: flex;
 flex-direction: row;
 gap: 60px;
 padding: 100px 20px;
 text-align: center;
 flex: 1 1 auto;
}

@keyframes animacao-borda {
  0% {
    border-color: rgba(255, 255, 122, 0.5); /* Cor inicial com transparência */
  }
  100% {
    border-color: rgba(255, 255, 122, 1); /* Cor final sem transparência */
  }
}

@keyframes animacao-nuvem1 {
  0% {
    left: 5px;
  }
  50% {
    left: calc(100% - 110px);
  }
  100% {
    left: 5px;
  }
}

@keyframes animacao-nuvem2 {
  0% {
    right: 15px;
  }
  50% {
    right: calc(100% - 115px);
  }
  100% {
    right: 15px;
  }
}

.container-descricao 
{
 width: 90%;
 margin: auto;
 border: 8px dotted rgba(242, 242, 24, 0.92);
 padding: 110px 100px;
 line-height: 1.5;
 position: relative;
 border-radius: 35px;
 animation: animacao-borda 5s linear infinite; /* Animação que percorre a borda */
}

.nuvem1 
{
 width: 100px;
 height: 70px;
 position: absolute;
 top: -40px;
 left: 5px;
 animation: animacao-nuvem1 10s infinite alternate;
}

.nuvem2 {
 width: 100px;
 height: 70px;
 position: absolute;
 bottom: -30px;
 right: 15px;
 animation: animacao-nuvem2 10s infinite alternate;
}

.container-descricao h3 {
 font-size: 40px;
 font-weight: 500;
}

.container-descricao p {
 font-size: 27px;
}
/*fim secao sobre*/


/*secao skills*/
.container-skills
{ 
 margin:auto;
 padding: 50px 20px;
 background-color: #f1f1f1;
 border-radius: 20px;
 display: flex;
 flex-direction: row;
 color: #fff;
 gap: 20px;
 border:2px solid #fff; 
}

article 
{
 display: flex;
 flex-direction: column;
 text-align: center;
 gap: 20px;
 padding: 50px 20px;
}

article h3
{
 font-size: 40px;
 font-weight: 500;
}

.card-skills
{
 width: 200px;
 background-color: #2f3237;
 border-radius: 20px;   
}

.container-imagem
{
  padding-top:15px;
}

.container-imagem img 
{
 background-color: #fff;
 width: 140px;
 height: 120px;
 border-radius: 20px;
}

.container-info
{
 padding: 20px;
 height: 90px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.container-info a
{
 text-decoration:none;
 color: #fff;
 font-weight: 666;
}

em:hover
{
  background:#fff;
  color: #000000;
  opacity: 0.9;
}

em
{
  border:1px solid #fff;
  background-color: none;
  border-radius: 5px;
  padding: 2px 5px;
}
/*fim secao skills/*


/*secao projetos*/

.secao-container
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
  text-align: center;
}

.container-descricao
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
.container-descricao h2
{
  font-size: 32px;
  font-weight: 500;
}
  
.container-cards
{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card
{
  flex: 1 0 350px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  background-color: #f1f1f1;
}
  
.container-card-descricao
{
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
  
.container-card-img
{
  width: 30%;
  height: 100%;
}
  
.container-card-img img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.container-card-img:hover
{
  opacity: 0.7;
  border: 7px solid #fff;
}


@media (orientation:portrait) and (max-width: 475px)
{

  .perfil img
  {
    height: 130px;
    width:130px;
    border-radius:100%;
    border:4px solid rgba(120, 245, 120, 0.896);
  }

 .titulo
  {
   padding-bottom:10px;
  }

 .titulo h1
  {
  font-size: 42px;
  }

 .titulo img
  {
  width: 15px;
  height: 15px;
  }

.top-links
  {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:30px;
  }

.top-links img
  {
  width: 50px;
  height:50px;
  }

  figcaption
{
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 background: rgb(0 0 0 / 50%);
 font-size: 17px;
 color: #fff;
 padding: 2px 5px;
 box-sizing: border-box;
 border-radius: 14px;
}

.secao-container 
{
 padding: 30px 20px;
}

.secao-banner
{
 background-image: url("assets/rx10m4_20190529-_R107789_to-raro.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 height: auto;
}

.container-descricao
 {
  border: 6px dotted rgba(242, 242, 24, 0.92);
  padding: 20px 30px;
 }

 .container-descricao h3 {
  font-size: 18px;
  font-weight: 250;
 }
 
 .container-descricao p {
  font-size: 15px;
  line-height: 1.4;
 }
  
.nuvem1
 {
  width: 50px;
  height: 40px;
 }
  
.nuvem2
 {
  width: 50px;
  height: 40px;
 }

 /*secao skills*/
.container-skills
{ 
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px auto;
   
}

article h3
{
 font-size: 30px;
 font-weight: 500;
}
.container-skills
{
  padding: 20px 10px;
}
.card-skills
{
 width: 140px;
 background-color: #2f3237;
 border-radius: 20px;   
}

.card-skills h3
{
  font-size: 15px;
}

.card-skills p
{
  font-size:14px;
}

.card-skills em
{
  font-size: 14px;
}

.container-imagem
{
  padding-top:10px;
}

.container-imagem img 
{
 
 width: 80px;
 height: 70px;
 
}

.container-info
{
 padding: 20px;
 height: 90px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.container-info a
{
 color: #fff;
 font-weight: 666;
}

}
/*footer*/
.rodape
{ 
  background-color: rgba(12, 223, 223, 0.918); 
  
}

.rodape-titulo ,.footer-links 
{
  display: flex;
  justify-content: center;
  padding:10px;
  gap: 10px;
}

.footer-links img
{
  width: 30px;
  height: 30px;  
}

.footer-links a
{
  text-decoration: none;
  color: #fff;    
}

.footer-links a:hover
{
  color: #000000;
}

.container-copright
{
  padding: 20px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #3b7863;
}

